# Node modules
node_modules
package-lock.json
package.json


# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/development.sqlite

# VSCode & Webstorm history directories
.history
.idea


#ignore sql backup 
/sql_backup
/data
.node_repl_history

public/img/avatar/

.pm2-dev/logs/server-error.log

.pm2-dev/logs/server-out.log

.pm2-dev/module_conf.json

.pm2-dev/pids/server-0.pid

.pm2-dev/pm2.log

.pm2-dev/pm2.pid

.pm2-dev/touch

.pm2/module_conf.json

.pm2/touch
